@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.App {
  text-align: center;
  padding: 2% 10%;
  background-color: #1b0c1a;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  font-size: 18px;
}

p {
  margin: 5px 0;
}

h1 {
  font-size: 46px;
  color: #fff;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
  color: #b1728c;
}

a:visited {
  color: #6d3c52;
}

a:hover {
  color: #f4e2de;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 18px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 18px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions>li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions>li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions>li:hover {
  background-color: #2d222f;
  color: #fff;
}

.event {
  padding: 10px 10px 35px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  position: relative;
  background-color: #2d222f;
  color: #fff;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.event-description {
  margin: 15px 0;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  background-color: #1b0c1a;
  color: #fff;
  font-size: 18px;
}